main{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: 50px;
}

.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.containerTitle p{
    width: 40%;
}

.fixMargin{
    margin-top: -30px;
}

.planosContainer{
    width: 70vw;
    height: 60vh;
    background-color: #59289F;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.titulosPlanosContainer{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    gap: 50px;
}

.separator {
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #2A1647;
    border: none;
    margin-top: 30px;
} 

.fonteMenor{
    font-size: 15px;
}

.beneficioAcesso, .beneficioDesconto, .beneficioAcompanhamento{
    height: 20px;   
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yesOrNo{
    display: flex;
    justify-content: space-between;
    width: 42.5%;
}

.beneficioDesconto{
    background-color: #2A1647;
}

.beneficiosContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerBtn{
    height: max-content;
    width: 100%;
    margin-top: 40px;
    justify-content: flex-end;
    display: flex;
}

.btnAssinar{
    background-color: #46FF29;
    padding: 5px 30px;
}

.link{
    text-decoration: none;
    font-size: 20px;
}

.botoesPlanos{
    display: flex;
    justify-content: space-between;
    width: 47%;
}

@media(max-width: 1300px){
    .titlePlan{
        font-size: 20px;
    }
    .botoesPlanos{
        width: 50%;
    }
}

@media(max-width: 1200px){
    .titulosPlanosContainer{
        gap: 20px;
    }
}

@media(max-width: 1050px){
    .btnAssinar{
        padding: 5px 20px;
    }
}

@media(max-width: 1000px){
    .planosContainer{
        padding: 20px;
    }
    .titlePlan{
        font-size: 15px;
    }
    .planPrice{
        font-size: 14px;
    }
}

.containerOculto{
    display: none;
}

@media(max-width:900px){
    .containerOculto{
        display: flex;
        height: 400px;
        justify-content: space-between;
    }
    .planosContainer{
        height: min-content;
    }
    .titulosPlanosContainer{
        display: none;
    }
    .beneficiosContainer{
        display: none;
    }

    hr{
        display: none;
    }

    .titlePlan{
        font-size: 30px;
    }

    .eachPlano{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: center;
    }

    .eachPlano p{
        width: 120px;
        font-size: 18px;
    }

    .botoesPlanos{
        width: 100%;
    }

}

@media(max-width: 600px){
    .planosContainer{
        box-sizing: border-box;
        width: 100%;
    }
    .fixMargin{
        font-size: 60px;
    }
}

.line{
    text-decoration: line-through;
}
