#planos-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 4vh;
}

.planos {
    display: flex;
    justify-content: space-between;
    margin: 5vh 4vh;
    gap: 5vw;
}

.bronze, .prata, .ouro {
    background-size: cover;
    background-position: center;
    padding: 4vh 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 14vw;
}

.beneficios {
    margin: 3vh 0px 3vh;
}

.bronze p, .prata p, .ouro p {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 2vh;
}

.bronze {
    background-image: url("../../img/Background/bronze-fundo.png");
}

.prata {
    background-image: url("../../img/Background/prata-fundo.png");
}

.ouro {
    background-color: #46FF29;

    img {
        padding: 0px 0px 15px 0px;
    }
}

.sobre-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    position: relative;
    left: 50%;
    transform: translate(-50%, -140%);
}

.confira {
    margin: 8vh 4vw -40vh;
    img {
        max-width: 65vw;
    }
}