.footer {
    padding: 20px 0px;
    background-color: #1e1e1e;
    margin: 0px;

    p {
        max-width: 28vw;
        margin-bottom: 10px;
    }

    #logo-footer {
        max-width: 220px;
        margin-right: 30px;
    }

    .verde {
        color: #46FF29;
    }
    
    .roxo {
        color: #A916FF;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    #line-roxa {
        display: block;
        background-color: #59289F;
        width: 160px;
        height: 10px;
        margin-bottom: 8px;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%)
    }
    
    #line-verde {
        display: block;
        background-color: #46FF29;
        width: 100px;
        height: 10px;
    }
    
    .flex {
        display: flex;
        margin-bottom: 20px;
    }

    .right p {
        margin-right: 40px;
        z-index: 1;
    }
    
    .right p::before{
        content: "";
        position: absolute;
        background-color: #59289F;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%);
        width: 260px;
        height: 10px;
        right: 0px;
        z-index: -1;
    }
}