.all {
    display: grid;
    grid-template-columns: 50% 50%;
}

* {
    box-sizing: border-box;
}

.right{
    background-image: linear-gradient(180deg, #2C1650, #190B30, #030105);
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1.2px 0 1.5px lightslategray;
}
 
.right-box {
    background-image: linear-gradient(360deg, #632EB5, #10071F);
    font-family: "Darker Grotesque", sans-serif;
    color: white;
    border: 1px solid #9B9B9B;
    border-radius: 10px;
    padding: 1.25em;
    position: relative;
    z-index: 1;
}
 
.right-box::before {
    content: "";
    position: absolute;
    background-image: url("../../img/Background/bg-form.png");
    border-radius: 10px;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}
 
.right-box p {
    text-align: center;
    margin: 1em 0;
}
 
.right-box hr {
    border: 1px solid #632EB5;
    margin-top: 1em;
    width: 100%;
}
 
#flogo {
    width: 5em;
}
 
#ftitle {
    text-transform: capitalize;
    margin-bottom: .5em;
    font-size: 24px;
}
 
.ent {
    display: flex;
    flex-direction: column;
    margin-bottom: .33em;
}
 
.ent label {
    font-size: 18px;
}
 
.ent input {
    padding: .65em;
}
 
.right-box button {
    background: var(--cor-5);
    color: white;
    border-radius: 5px;
    width: 100%;
}
 
#link-form {
    text-decoration: none;
}
 
#link-form:hover {
    text-decoration: underline;
}

.cab {
    display: none;
}

@media  screen and (max-width: 900px) {
    .right {
        height: 100vh;
        width: 100vw;
    }

    .right-box {
        margin-top: 2.5em;
        height: 80%;
        width: 65%;
    }

    .right-box-content {
        margin: auto;
        width: 80%;
    }

    #cadastro > hr {
        width: 100%;
        border: 1px solid #632EB5;
        margin-top: 2em;
    }

    #flogo {
        width: 9em;
    }

    #ftitle {
        margin-top: .7em;
        font-family: "Days One", sans-serif;
        font-weight: 100;
        font-size: 2rem;
    }

    .right-box p {
        margin: 2em 0;
        font-size: 1.7rem;
    }

    .ent label {
        font-size: 1.65rem;
    }

    .ent input {
        font-size: 1.3rem;
    }

    .right-box button {
        padding: 1em;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .cab {
        display: block;
        position: fixed;
        inset: -2em;
        top: -3em;
    }
}

@media screen and (max-width: 468px) {
    .right {
        height: 100vh;
        width: 100vw;
    }

    .right-box {
        margin-top: .4em;
        height: 80%;
        width: 80%;
    }

    .right-box-content {
        margin: 1em;
        width: 90%;
    }

    #cadastro > hr {
        width: 100%;
        border: 1px solid #632EB5;
        margin-top: 2em;
    }

    #flogo {
        width: 5.5em;
    }

    #ftitle {
        margin-top: .7em;
        font-family: "Days One", sans-serif;
        font-weight: 100;
        font-size: 20px;
    }

    .right-box p {
        margin: 2em 0;
        font-size: 20px;
    }

    .ent label {
        font-size: 20px;
    }

    .ent input {
        font-size: 18px;
        padding: .50rem;
    }

    .right-box button {
        padding: 0.65em;
        font-size: 16px;
    }

    .cab {
        display: block;
        position: fixed;
        inset: -1.6em;
        top: -2em;
    }
}