@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Days+One&display=swap');

/* Global */
body {
  background-image: linear-gradient(to right top, #1e1e1e, #1f1e26, #211d2f, #231c36, #251a3e, #251a3e, #251a3e, #251a3e, #231c36, #211d2f, #1f1e26, #1e1e1e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

* {
  margin: 0px;
  padding: 0px;
}

.icon {
  max-height: 28px;
  margin-right: 8px;
}


/* Variáveis de Cor */

:root{
  --cor-0: #FFFFFF;
  --cor-1: #F1F1F1;
  --cor-2: #D9D9D9;
  --cor-3: #46FF29;
  --cor-4: #A916FF;
  --cor-5: #59289F;
  --cor-6: #1E1E1E;
  --cor-7: #000000;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

/* Padrões de Tipografia */


.fonte-subtitulos {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.fonte-gerais {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 22px;
  }

.fonte-02 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: 100px;
  margin-top: -20px;
}

.fonte-03 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-size: 74px;
}

.fonte-04 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.fonte-05 {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

/* Responsividade de fontes */

@media (max-width: 500px) {
  .fonte-gerais {
    font-size: 18px;
  }

  .fonte-03 {
    font-size: 42px;
  }

  .fonte-04 {
    font-size: 28px;
  }

  .fonte-05 {
    font-size: 24px;
  }
}